.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  .turn-indicator {
    margin-top: 3rem;
    font-size: 3rem;
    color: white;
  }

  .content {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    h2 {
      color: white;
    }
  }
}
